.main-page {
    background-color: rgba(256, 256, 256, .93);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 15px;
}

.navbar-default.navbar {
    margin-bottom: 12px;
}

.navbar-nav {
    margin-left: 0;
    margin-right: 0;
}

.navbar-default .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #ca6908;
}


.nav-btn-container {
    margin-left: auto;
}

.navbar-default .navbar-nav>li>.socialitio-btn {
    width: 100%;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>.socialitio-btn:hover {
    background-color: #7f3804;
    color: #FFFFFF;
}

@media (max-width: 350px) {
    .main-page .content {
        padding: 0;
    }
}