.welcome-page {
    padding: 60px;
    border-radius: 4px;
    background-color: rgba(256, 256, 256, .9);
    float: left;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
    transform: scale(0);
}

.welcome-page.show {
    visibility: visible;
    z-index: 200;
    opacity: 1;
    transform: scale(1);
}

.modal-content .modal-header {
    margin-bottom: 30px;
}


.modal-content .modal-header,
.modal-content .modal-footer {
    border: none;
}

.modal-content .modal-footer {
    text-align: left;
    margin-top: 15px;
}

.welcome-page .title {
    font-weight: 600;
}

.welcome-page p {
    font-size: 16px;
    margin-bottom: 15px;
}

.welcome-page .btn-container {
    margin-top: 15px;
    float: left;
    width: 100%;
}

.socialitio-btn.login {
    margin-right: 30px;
}

@media (max-width: 767px) {

    .welcome-page {
        text-align: center;
    }

    .welcome-page .title {
        font-size: 22px;
    }

    .welcome-page .btn-container {
        margin-top: 45px;
    }

    .socialitio-btn.login {
        margin: 0 auto 15px auto;
    }

}

@media (max-width: 575px) {
    .welcome-page {
        padding: 30px;
    }
}