<section class="users col-xs-12 col-sm-4 col-md-offset-1 col-md-3">
    <div>
        <input type="checkbox" id="onlineUsers" ng-model="$users.onlineOnly"/>
        <label for="onlineUsers">Only online users</label>
    </div>
    <div class="users-container">
        <div class="user" ng-repeat="user in $users.users | statusFilter:$users.onlineOnly">
            <div class="user-pic" ng-style="{ 'background-image': 'url(' + user.img + ')' }"></div>
            <div class="user-info">
                <p class="user-name">{{user.name}}</p>
                <div>
                    <span class="line-status {{user.status ? 'on' : ''}}"></span>
                    <span class="user-status">{{user.status ? 'Online' : 'Offline'}}</span>
                </div>
                <button class=" socialitio-btn {{user.following ? 'dark' : ''}} small follow" ng-click="$users.toggleFollow(user.id)">
                    {{user.following ? 'Unfollow' : 'Follow'}}
                </button>
            </div>
        </div>
    </div>
</section>