<section class="welcome-page col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
    <div class="description">
        <p>
            Stay connected with your friends and be the first one to receive news from people and events you're interested in.
        </p>
        <p>Real life in real time.</p>
        <p class="title">Socialit.io</p>
    </div>
    <div class="btn-container">
        <a class="socialitio-btn login" ng-click="welcome.login()">Login</a>
        <a class="socialitio-btn dark sign-up" ng-click="welcome.signup()">Sign Up</a>
    </div>
</section>